// .graphClass{
//     width: 85%;
//     margin: auto;
//     display: inline-flex;
// }

// .graphClass2{
//     text-align: center;
//     margin: auto;
//     display: inline-flex;
// }

// .divContainer{
//     text-align: center;
// }

.divGraph{
    width: 80%;
    margin: auto;
}
@media (max-width:840px){
    .divGraph{
        width: 100%;
        margin: auto;
    }
}
.buttonsDiv{
    text-align: end;
}
.buttons{
    margin:5px;
}