<div id="card_service" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto">
                <div class="card_service_test">
                    <div class="card">
                        <table mat-table [dataSource]="listServices" class="mat-elevation-z8">

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="tittle"> Name </th>
                                <td mat-cell *matCellDef="let service"> {{service.name}} </td>
                            </ng-container>

                            <!-- Type Column -->
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef class="tittle"> Type </th>
                                <td mat-cell *matCellDef="let service"> {{service.method}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="url">
                                <th mat-header-cell *matHeaderCellDef class="tittle"> Url </th>
                                <td mat-cell *matCellDef="let service"> {{service.url}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef class="tittle"> Status </th>
                                <td mat-cell *matCellDef="let service">
                                    <img *ngIf="!tested" src="assets/img/teststatus_sync.png" />
                                    <img class="pngLoading" *ngIf="service.isLoading && tested"
                                        src="assets/img/loading.gif" />
                                    <img *ngIf="!service.status && !service.isLoading && tested"
                                        src="assets/img/teststatus_error.png" />
                                    <img *ngIf="service.status  && !service.isLoading && tested"
                                        src="assets/img/teststatus_ok.png" />
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <button type="button" class="btn btn-md btn-success" (click)="testService()"
                            style="margin-top: 20px;">Test Services</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>