.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .logout-button{
    text-align:center;
    position: absolute;
    width: 100%;
    bottom:   5px;
  }

  #covid19-animation {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  #covid19-animation .forg--1 {
    position: absolute;
    bottom: 16%;
    left: 40%;
    -webkit-animation: leftRight 6s ease-in-out infinite;
    -moz-animation: leftRight 6s ease-in-out infinite;
    animation: leftRight 6s ease-in-out infinite;
    animation-delay: 200ms;
  }
  
  #covid19-animation .forg--1 img {
    -webkit-animation: floating 8s ease-in-out infinite;
    -moz-animation: floating 8s ease-in-out infinite;
    animation: floating 8s ease-in-out infinite;
    animation-delay: 200ms;
  }
  
  #covid19-animation .forg--2 {
    position: absolute;
    top: 46%;
    left: 26%;
    -webkit-animation: leftRight 5s ease-in-out infinite;
    -moz-animation: leftRight 5s ease-in-out infinite;
    animation: leftRight 5s ease-in-out infinite;
  }
  
  #covid19-animation .forg--2 img {
    -webkit-animation: floating 7s ease-in-out infinite;
    -moz-animation: floating 7s ease-in-out infinite;
    animation: floating 7s ease-in-out infinite;
  }
  
  #covid19-animation .forg--3 {
    position: absolute;
    bottom: 10%;
    left: 71%;
    -webkit-animation: leftRight 7s ease-in-out infinite;
    -moz-animation: leftRight 7s ease-in-out infinite;
    animation: leftRight 7s ease-in-out infinite;
    animation-delay: 200ms;
  }
  
  #covid19-animation .forg--3 img {
    -webkit-animation: floating 9s ease-in-out infinite;
    -moz-animation: floating 9s ease-in-out infinite;
    animation: floating 9s ease-in-out infinite;
    animation-delay: 200ms;
  }
  
  #covid19-animation .forg--4 {
    position: absolute;
    top: 5%;
    left: 45%;
    -webkit-animation: leftRight 5.5s ease-in-out infinite;
    -moz-animation: leftRight 5.5s ease-in-out infinite;
    animation: leftRight 5.5s ease-in-out infinite;
  }
  
  #covid19-animation .forg--4 img {
    -webkit-animation: floating 7.5s ease-in-out infinite;
    -moz-animation: floating 7.5s ease-in-out infinite;
    animation: floating 7.5s ease-in-out infinite;
  }
  
  #covid19-animation .forg--5 {
    position: absolute;
    bottom: 20%;
    left: 90%;
    -webkit-animation: leftRight 5s ease-in-out infinite;
    -moz-animation: leftRight 5s ease-in-out infinite;
    animation: leftRight 5s ease-in-out infinite;
  }
  
  #covid19-animation .forg--5 img {
    -webkit-animation: floating 7s ease-in-out infinite;
    -moz-animation: floating 7s ease-in-out infinite;
    animation: floating 7s ease-in-out infinite;
  }
  
  #covid19-animation .back--1 {
    position: absolute;
    top: 10%;
    left: 10%;
    -webkit-animation: leftRight 6s ease-in-out infinite;
    -moz-animation: leftRight 6s ease-in-out infinite;
    animation: leftRight 6s ease-in-out infinite;
    animation-delay: 400ms;
  }
  
  #covid19-animation .back--1 img {
    -webkit-animation: floating 8s ease-in-out infinite;
    -moz-animation: floating 8s ease-in-out infinite;
    animation: floating 8s ease-in-out infinite;
    animation-delay: 400ms;
  }
  
  #covid19-animation .back--2 {
    position: absolute;
    bottom: 50%;
    left: 5%;
    -webkit-animation: leftRight 5s ease-in-out infinite;
    -moz-animation: leftRight 5s ease-in-out infinite;
    animation: leftRight 5s ease-in-out infinite;
  }
  
  #covid19-animation .back--2 img {
    -webkit-animation: floating 7s ease-in-out infinite;
    -moz-animation: floating 7s ease-in-out infinite;
    animation: floating 7s ease-in-out infinite;
  }
  
  #covid19-animation .back--3 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    -webkit-animation: leftRight 6s ease-in-out infinite;
    -moz-animation: leftRight 6s ease-in-out infinite;
    animation: leftRight 6s ease-in-out infinite;
    animation-delay: 300ms;
  }
  
  #covid19-animation .back--3 img {
    -webkit-animation: floating 7s ease-in-out infinite;
    -moz-animation: floating 7s ease-in-out infinite;
    animation: floating 7s ease-in-out infinite;
    animation-delay: 300ms;
  }
  
  #covid19-animation .back--4 {
    position: absolute;
    bottom: 35%;
    left: 58%;
    -webkit-animation: leftRight 7s ease-in-out infinite;
    -moz-animation: leftRight 7s ease-in-out infinite;
    animation: leftRight 7s ease-in-out infinite;
  }
  
  #covid19-animation .back--4 img {
    -webkit-animation: floating 9s ease-in-out infinite;
    -moz-animation: floating 9s ease-in-out infinite;
    animation: floating 9s ease-in-out infinite;
  }
  
  #covid19-animation .back--5 {
    position: absolute;
    top: 11%;
    left: 22%;
    -webkit-animation: leftRight 6s ease-in-out infinite;
    -moz-animation: leftRight 6s ease-in-out infinite;
    animation: leftRight 6s ease-in-out infinite;
    animation-delay: 500ms;
  }
  
  #covid19-animation .back--5 img {
    -webkit-animation: floating 7s ease-in-out infinite;
    -moz-animation: floating 7s ease-in-out infinite;
    animation: floating 7s ease-in-out infinite;
    animation-delay: 500ms;
  }
  
  #covid19-animation .back--6 {
    position: absolute;
    bottom: 50%;
    left: 82%;
    -webkit-animation: leftRight 5s ease-in-out infinite;
    -moz-animation: leftRight 5s ease-in-out infinite;
    animation: leftRight 5s ease-in-out infinite;
  }
  
  #covid19-animation .back--6 img {
    -webkit-animation: floating 7s ease-in-out infinite;
    -moz-animation: floating 7s ease-in-out infinite;
    animation: floating 7s ease-in-out infinite;
  }
  
  #covid19-animation .back--7 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-animation: leftRight 6s ease-in-out infinite;
    -moz-animation: leftRight 6s ease-in-out infinite;
    animation: leftRight 6s ease-in-out infinite;
  }
  
  #covid19-animation .back--7 img {
    -webkit-animation: floating 9s ease-in-out infinite;
    -moz-animation: floating 9s ease-in-out infinite;
    animation: floating 9s ease-in-out infinite;
  }
  
  #covid19-animation .back--8 {
    position: absolute;
    top: 10%;
    left: 80%;
    -webkit-animation: leftRight 4s ease-in-out infinite;
    -moz-animation: leftRight 4s ease-in-out infinite;
    animation: leftRight 4s ease-in-out infinite;
  }
  
  #covid19-animation .back--8 img {
    -webkit-animation: floating 6s ease-in-out infinite;
    -moz-animation: floating 6s ease-in-out infinite;
    animation: floating 6s ease-in-out infinite;
  }
  
  @keyframes floating {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    50% {
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
      transform: translateY(20px);
    }
  
    100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes leftRight {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  
    50% {
      -webkit-transform: translateX(10px);
      -moz-transform: translateX(10px);
      -ms-transform: translateX(10px);
      -o-transform: translateX(10px);
      transform: translateX(10px);
    }
  
    100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
