<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" [hidden]="authService.getCurrentUser() == null">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Bienvenido {{authService.titleName}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [hidden]="authService.getCurrentUser() == null"
      [ngStyle]="{'width': authService.getCurrentUser() == null ? '0px' : '200px'}">
      <mat-nav-list>
        <h3 mat-subheader *ngIf="authService.isAdmin">Usuario</h3>
        <a mat-list-item routerLink="/home" (click)="snav.toggle()">Home</a>
        <a mat-list-item routerLink="/newCountriesList" (click)="snav.toggle()">Nueva Lista de Paises</a>
        <a mat-list-item routerLink="/countriesList" (click)="snav.toggle()">Ver Listas de Paises</a>
        <mat-divider *ngIf="authService.isAdmin"></mat-divider>
        <h3 mat-subheader *ngIf="authService.isAdmin">Administrador</h3>
        <a mat-list-item routerLink="/userData" (click)="snav.toggle()" *ngIf="authService.isAdmin">Datos de Usuarios</a>
        <a mat-list-item routerLink="/commonCountries" (click)="snav.toggle()" *ngIf="authService.isAdmin">Paises en Común</a>
        <a mat-list-item routerLink="/userIntrested" (click)="snav.toggle()" *ngIf="authService.isAdmin">Usuarios Interesados</a>
        <a mat-list-item routerLink="/adminCountriesList" (click)="snav.toggle()" *ngIf="authService.isAdmin">Datos de Listas</a>
        
        <div class="logout-button">
          <button class="btn btn-md btn-secondary w-75" (click)="snav.toggle();logout()">Logout</button>
        </div>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="position: initial;">
      <div id="covid19-animation">
        <div class="back--1"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/1b.svg" alt=""></div>
        <div class="back--2"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/2b.svg" alt=""></div>
        <div class="back--3"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/3b.svg" alt=""></div>
        <div class="back--4"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/4b.svg" alt=""></div>
        <div class="back--5"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/5b.svg" alt=""></div>
        <div class="back--6"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/6b.svg" alt=""></div>
        <div class="back--7"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/7b.svg" alt=""></div>
        <div class="back--8"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/8b.svg" alt=""></div>
        <div class="forg--1"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/1f.svg" alt=""></div>
        <div class="forg--2"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/2f.svg" alt=""></div>
        <div class="forg--3"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/3f.svg" alt=""></div>
        <div class="forg--4"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/4f.svg" alt=""></div>
        <div class="forg--5"><img src="https://freepik.cdnpk.net/img/campaigns/covid19/5f.svg" alt=""></div>
      </div>
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>